body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: #afafaf;
}

.big-heading {
    font-family: "Montserrat-Black";
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Sections */
.colored-section {
    background-color: #ff4c68;
    color:#fff
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.container-fluid {
    padding: 3% 15% 7%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.testing {
    margin-right: 12%;
}

/* Title Section */

.title-image {
    position: absolute;
    width: 18%;
    transform: rotate(18deg); 
    right: 30%
}

#title {
    text-align: left;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* Features Section */

#features {
    position: relative;
    padding: 7% 15%;
}

.feature-box {
    padding: 5%;
}

.feature-title {
    font-size: 1.5rem;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials  */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Sections */

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Call to Action */
#cta {
    padding: 3% 15%;
}

/* Footer */

#footer {
    background-color: #fff;
    padding: 3% 15%;
}

.social-icons {
    display: inline-block;
    padding:5px 10px;
    margin: 10px 5px;
}

/* Media Queries */

@media (max-width: 1033px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        width: 50%;
    }
}

@media (max-width: 993px) {

    .title-image {
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}

