#title {
    background-color: #ff4c68;
}

body {
    font-family: "Montserrat";
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: "Montserrat-Black";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}